#!/bin/sh

killall runcarplay
if [ $? -eq 0 ]
then
	sleep 1
	exit
fi

echo 1 > /sys/class/gpio_sw/PE8/cfg
echo 0 > /sys/class/gpio_sw/PE8/data

chmod 777 /dev/input/event0

#echo 4 > /proc/sys/kernel/printk

mkdir /var/run
mkdir /var/lib
mkdir /var/lib/misc


ln -s /usr/sbin/mdnsd  /var/run/mdnsd

if [ ! -d "/opt/work/data_car" ];then
  mkdir /opt/work/data_car
fi

if [ ! -d "/dev/shm" ];then
  mkdir /dev/shm
fi


export PATH=$PATH:/opt/work/app/carplay/lib
export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/opt/work/app/carplay/lib

export PATH=$PATH:/opt/work/app/carplay/carplaylib
export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/opt/work/app/carplay/carplaylib

#echo 0 > /dev/watchdog

echo 1 > /sys/class/gpio_sw/PE8/data


# /opt/work/app/carplay/gocsdk &
# /opt/work/app/carplay/carplaylib/zlink.sh &

cd /opt/work/app/carplay
echo "-------------run------------"

#source ./qtenv.rc
rm -f /tmp/disable_reboot.flag

./SDUpgrade &
./runcarplay

# 检查标志文件
if [ -f "/tmp/disable_reboot.flag" ]; then
    echo "------------- SDUpgrade requested no reboot -------------------"
    rm -f /tmp/disable_reboot.flag

else
	echo "-------------exit err, -------------------"
	sleep 3
	reboot
	reboot
fi